In [18]:
import pandas as pd

data = pd.read_csv("D:/AIT580/AIT580/data/EmployeeAttrition.csv")

In [3]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [4]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [98]:
#Q1: Find the number of entries/rows and columns in the data.
print("Number of entries/rows :",data.shape[0])
print("Number of columns :",data.shape[1])
#Q2: What is the average Monthly Income?
print("average Monthly Income : ",data['MonthlyIncome'].mean())
#Q3: What is the highest amount of HourlyRate ?
print("highest amount of Hourly Rate ",max(data['HourlyRate']))
#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?
search_employee_id = 10
res = data[data.EmployeeNumber == search_employee_id]
if not res.empty:
    print("Department: ", format(res['Department'].values[0]))
    print("JobRole: ", res['JobRole'].values[0])
    print("MaritalStatus: ", res['MaritalStatus'].values[0])
    print("OverTime: ", res['OverTime'].values[0])
else:
    print("employee number not found: ", search_employee_id)

#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
highest_Monthlyincome=data.nlargest(1,"MonthlyIncome")
print("Employee Id of highest Monthly income:",highest_Monthlyincome.EmployeeNumber.to_string(index=False))

#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)
data1=data[data['Age']>58].groupby(['Age']).mean()['DailyRate']
print(data1)



#Q7: How many unique EducationField are there?
unique_education_fields = {}

for unique_field in data['EducationField']:

 if unique_field in unique_education_fields:

  unique_education_fields[unique_field]+=1

 else:

  unique_education_fields[unique_field] = 1
print(unique_education_fields)
print("unique eduaction fields :",len(unique_education_fields))

#Q8: What are the top 5 most common JobRole?
mostcommon_job_roles = {}

for jobrole in data['JobRole']:

 if jobrole in mostcommon_job_roles:

  mostcommon_job_roles[jobrole]+=1

 else:

  mostcommon_job_roles[jobrole] = 1

print("Most Comman Job Roles: ")

mostcommon_job_roles = sorted(mostcommon_job_roles,reverse=True)

count = 0

for i in mostcommon_job_roles:

 count+=1

 print(i)

 if count == 5:

  break

#Q9: How many JobRoles represented by less than 100 employees?
print(data['JobRole'].value_counts())



#Q10: What is the correlation between Education and JobSatisfaction
print("correlation between Education and JobSatisfaction:",data['Education'].corr(data['JobSatisfaction']))

Number of entries/rows : 1470
Number of columns : 35
average Monthly Income :  6502.931292517007
highest amount of Hourly Rate  100
Department:  Research & Development
JobRole:  Laboratory Technician
MaritalStatus:  Married
OverTime:  Yes
Employee Id of highest Monthly income: 259
Age
59    992.3
60    833.2
Name: DailyRate, dtype: float64
{'Life Sciences': 606, 'Other': 82, 'Medical': 464, 'Marketing': 159, 'Technical Degree': 132, 'Human Resources': 27}
unique eduaction fields : 6
Most Comman Job Roles:
Sales Representative
Sales Executive
Research Scientist
Research Director
Manufacturing Director
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64
correlation between Education and JobSatisfaction: -0.011296116736573896

In [ ]:
#Q.9
#there are 3 job roles that are having less than 100 employees
#Sales Representative          83
#Research Director             80
#Human Resources               52